*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FAFAFA;
    font-family: "Epilogue", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    gap: 60px;
   

}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-menu{
     width: 100%;   
}

.list-link-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.list-link-container li a{
    color: #686868;
}

.list-link-container li a:hover{
    color: #151515;

}

.open-drop-container{
    position: relative;
    display: flex;
    
}

.btn-open-drop{
    font-size: 16px;
    border: none;
    background: none;
    padding: 20px;
    color: #686868;
    cursor: pointer;
}

.btn-open-drop:hover{
    color: #151515;
}


.drop-menu-container{
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 47px;
    border-radius: 8px;
    z-index: 999px;
    left: -28px;

}

@media screen and (min-width:769px) {
    .open-drop-container:hover .drop-menu-container,
    .drop-menu-container:hover {
        display: flex;
    } 
}



.drop-menu-container.active{
    display: none;
}




.drop-menu-container  a{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px ;
    cursor: pointer;
    font-size: 16px;
    padding: 20px 25px;
    height: 30px;
    transition: 0.3s ease;
    
}

.drop-menu-container a:hover{
    background: rgb(235, 235, 235);
    transition: 0.3s ease;
}

 
.drop-menu-container a:first-child  {
    padding-top: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.drop-menu-container a:last-child  {
    padding-bottom: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



.menu-login{
    display: flex;
    align-items: center;
    gap: 40px;
}


.register-link{
    border: 2px solid #686868;
    padding: 13px 23px;
    border-radius: 12px;
}

.login-link{
    padding: 20px;
}

.register-link:hover{
    border: 2px solid #151515;
    
}

.btn-close{
    display: none;
    border: none;
    margin:  0px 0px 0px auto;
    padding: 3px;
    background: none;
    cursor: pointer;
    transition: 0.3s ease;

}

.btn-close:hover{
    background: rgb(235, 235, 235);
    transition: 0.3s ease;
}

.open-menu-mobile{
    display: none;
}


main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.txt-home{
    flex: 1;
    padding: 25px;
}

.txt-home h1{
    max-width: 540px;
    font-size: 80px;
    margin-bottom: 48px;
}

.txt-home p{
    font-size: 18px;
    max-width: 445px;
    color:#686868 ;
    line-height: 28px;
    margin-bottom: 50px;
}

.txt-home a{
    width: 163px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515;
    font-weight: 700 ;
    color: #fff;
    border-radius: 18px;
    transition: 0.3s ;
}

.txt-home a:hover{
    background: none;
    color: #151515;
    border: 1px solid #151515;
    transition: 0.3s;
}

.logos-svg-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 116px;
    gap: 20px;
}

.img-home-container{
    flex: 1;
}

.img-home-container img{
    width: 100%;
}




@media screen and (max-width:768px) {
    header{
        justify-content: space-between;
    }

    .open-menu-mobile{
        display: block;
        border: none;
        background: none;
    }

    .modal-menu{
        display: none;
        background: #0000008f;
        width: 100vw;
        height: 100vh;
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
    
    .modal-menu.active{
        display: flex;

    }

    .btn-close{
        display: block;
    }

    header nav, .list-link-container, .open-drop-container{
        flex-direction: column;
    }

    .modal-menu nav{
        max-width: 240px;
        width: 100%;
        position: absolute;
        
        height: 100vh;
        background: #fff;
        padding-top: 21px;
        padding: 21px 19px 21px 24px;
        justify-content: initial;
       
        transform: translateX(240px); 
        opacity: 0; 
        right: 0;
          
     
        
    }

    .modal-menu.active nav{
        
        animation: slideIn 0.8s ease forwards;

       
    }


    @keyframes slideIn {
      
        to {
            transform: translateX(0); 
            opacity: 1; 
        }
    }

   
    

    .menu-itens{
        width: 100%;
    }

    .drop-menu-container{
        position: initial;
    }

    .list-link-container{
        align-items: initial;
        gap: 0px;
    }

    .btn-open-drop{
        text-align: start;
        padding: 20px 0px 10px;
    }
    
    .list-link-container li a{
        padding: 20px 0px;
        width: 100%;
        display: block;
    }

   .drop-menu-container{
    padding-left: 23px;
   }

   
    .drop-menu-container.active{
        display: flex;
    }

    .drop-menu-container a:first-child{
        border-radius: 0px;
        padding: 5px 10px;
    }

    .drop-menu-container a:last-child{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px
    }
    
    .list-link-container li .drop-menu-container a{
        height: 40px;
        padding: 0px 10px;
        display: flex;

    }

    
    .menu-login{
        flex-direction: column;
        gap: 16px;
    }

    .login-link{
        padding: 11px;
        width: 100%;
        text-align: center;
    }

    main{
        flex-direction: column-reverse;
    }
    
    .logos-svg-container{
        justify-content: center;
        flex-wrap: wrap;
    }

    .img-home-container{
        width: 100%;
    }
   

    .img-home-container img{
        height: 341px;
        object-fit: cover;
        
    }
    
}



