*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FAFAFA;
    font-family: "Epilogue", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    gap: 60px;

}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    flex-wrap: wrap;
    gap: 10px;
}

.list-link-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.list-link-container li a{
    color: #686868;
}

.list-link-container li a:hover{
    color: #151515;

}

.open-drop-container{
    position: relative;
    display: flex;
    
}

.btn-open-drop{
    font-size: 16px;
    border: none;
    background: none;
    padding: 20px;
    color: #686868;
    cursor: pointer;
}

.btn-open-drop:hover{
    color: #151515;
}


.drop-menu-container{
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 47px;
    border-radius: 8px;
    z-index: 999px;
    left: -28px;

}

.open-drop-container:hover .drop-menu-container,
.drop-menu-container:hover {
  display: flex;
}



.drop-menu-container  a{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px ;
    cursor: pointer;
    font-size: 16px;
    padding: 20px 25px;
    height: 30px;
    transition: 0.3s ease;
    
}

.drop-menu-container a:hover{
    background: rgb(235, 235, 235);
    transition: 0.3s ease;
}

 
.drop-menu-container a:first-child  {
    padding-top: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.drop-menu-container a:last-child  {
    padding-bottom: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



.menu-login{
    display: flex;
    align-items: center;
    gap: 40px;
}


.register-link{
    border: 2px solid #686868;
    padding: 13px 23px;
    border-radius: 12px;
}

.login-link{
    padding: 20px;
}

.register-link:hover{
    border: 2px solid #151515;
    
}